<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Ensure PHP files are processed correctly -->
    <handlers>
      <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v7.4\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>

    <!-- Security configurations -->
    <security>
      <requestFiltering>
        <!-- Deny access to .ini files -->
        <fileExtensions>
          <add fileExtension=".ini" allowed="false" />
        </fileExtensions>

        <!-- Optionally, deny access to other sensitive file types -->
        <!--
        <fileExtensions>
          <add fileExtension=".config" allowed="false" />
          <add fileExtension=".xml" allowed="false" />
        </fileExtensions>
        -->
      </requestFiltering>
    </security>

    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />

    <!-- Default documents -->
    <defaultDocument>
      <files>
        <add value="index.php" />
        <!-- Add other default documents if necessary -->
      </files>
    </defaultDocument>

    <!-- URL rewrite rules (optional) -->
    <rewrite>
      <rules>
        <!-- Example rule for clean URLs -->
        <!--
        <rule name="Clean URLs" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?url={R:1}" />
        </rule>
        -->
      </rules>
    </rewrite>
  </system.webServer>

  <!-- System web configurations -->
  <system.web>
    <!-- Custom error pages (optional) -->
    <!--
    <customErrors mode="On" defaultRedirect="error.html">
      <error statusCode="404" redirect="404.html" />
    </customErrors>
    -->
  </system.web>
</configuration>
